<%= form_for @macrocycle do |f| %>
 
  <% if @macrocycle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@macrocycle.errors.count, "error") %> prohibited
        this macrocycle from being saved:
      </h2>
      <ul>
        <% @macrocycle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <fieldset>
  <legend>Macrocycle Details</legend>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <% if @macrocycle.mesocycles.any? %>
    <h3>Exercise Details</h3>
    <p>
      <% @macrocycle.mesocycles.each_with_index do |mesocycle, index| %>
        <h3>Mesocycle <%= index + 1%></h3>
        <div class="row text-center">
          <h4>Max Effort Exercises</h4>
          <div class="col-md-6 col-xs-12">
            <strong>Lower Body</strong>
            <br />
            <% mesocycle.microcycles.each_with_index do |microcycle, index| %>
              <% microcycle.workouts.each do |workout| %>
                <% workout.exercises.each do |exercise| %>
                  <% if exercise.weaknesses.where(bodypart: "Lower body").any? && exercise.variations.where(name: "Max effort").any? %>
                    <%= exercise.name %>
                    <br />
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6">
            <strong>Upper Body</strong>
            <br />
            <% mesocycle.microcycles.each_with_index do |microcycle, index| %>
              <% microcycle.workouts.each do |workout| %>
                <% workout.exercises.each do |exercise| %>
                  <% if exercise.weaknesses.where(bodypart: "Upper body").any? && exercise.variations.where(name: "Max effort").any? %>
                    <%= exercise.name %>
                    <br />
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row text-center">
          <h4>Dynamic Effort Exercises</h4>
          <div class="col-md-6">
            <strong>Lower Body</strong>
            <br />
            <% mesocycle.microcycles.first.workouts.each do |workout| %>
              <% workout.exercises.each do |exercise| %>
                <% if exercise.weaknesses.where(bodypart: "Lower body").any? && exercise.variations.where(name: "Dynamic effort").any? %>
                  <%= exercise.name %>
                  <br />
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6">
            <strong>Upper Body</strong>
            <br />
            <% mesocycle.microcycles.first.workouts.each do |workout| %>
              <% workout.exercises.each do |exercise| %>
                <% if exercise.weaknesses.where(bodypart: "Upper body").any? && exercise.variations.where(name: "Dynamic effort").any? %>
                  <%= exercise.name %>
                  <br />
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row text-center">
          <h4>Repetition Effort Exercises</h4>
          <div class="col-md-6">
            <strong>Lower Body</strong>
            <br />
            <% mesocycle.microcycles.first.workouts.each do |workout| %>
              <% workout.exercises.each do |exercise| %>
                <% if exercise.weaknesses.where(bodypart: "Lower body").any? && (exercise.variations.where(name: "Repetition effort - supplemental") || exercise.variations.where(name: "Repetition effort - accessory") || exercise.variations.where(name: "Repetition effort - supplemental"))  %>
                  <%= exercise.name %>
                  <br />
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6">
            <strong>Upper Body</strong>
            <br />
            <% mesocycle.microcycles.first.workouts.each do |workout| %>
              <% workout.exercises.each do |exercise| %>
                <% if exercise.weaknesses.where(bodypart: "Upper body").any? && (exercise.variations.where(name: "Repetition effort - supplemental") || exercise.variations.where(name: "Repetition effort - accessory") || exercise.variations.where(name: "Repetition effort - supplemental")) %>
                  <%= exercise.name %>
                  <br />
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>
      <%= f.label :length %><br>
      <%= f.select(:length, [['8 Weeks',8],['12 Weeks',12]]) %>
    </p>

    <p>
      <%= f.label :macrocycle_start_date %><br />
      <%= f.date_select :macrocycle_start_date %>
    </p>
  <% end %>
 </fieldset>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>