<h1>Macrocycle Details</h1>
<% if @macrocycle.name.downcase == 'suh dude' %>
  <p>
    <img src="<%= asset_path 'suhdude2.jpg' %>">
  </p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @macrocycle.name %>
</p>
 
<p>
  <strong>Length:</strong>
  <%= @macrocycle.length %>
</p>

<p>
  <strong>Description:</strong>
  <%= @macrocycle.description %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @macrocycle.created_by %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @macrocycle.macrocycle_start_date.strftime("%B %d, %Y") %>
</p>

<h3>Workout Details</h3>
<p>
  <% @macrocycle.mesocycles.each_with_index do |mesocycle, index| %>
    <h3>Mesocycle <%= index + 1%></h3>
        <% mesocycle.microcycles.each do |microcycle| %>
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Week <%= @cycleWeek %></strong></div>
            <div class="panel-body">
              <div class="row">
                <% microcycle.workouts.each_with_index do |workout, index| %>
                  <div class="col-xs-12 col-md-3">
                    <h4>Workout <%= index + 1 %>: <%= workout.workout_type %></h4>
                    <br />
                    <%= workout.workout_start_date.strftime("%B %d, %Y") %>
                    <br />
                    <p>
                        <strong>Warmup Movements</strong>
                        <br />
                        <% workout.exercises.each do |exercise| %>
                            <% if exercise.exercisemethod_id == @warmupId %>
                                <%= exercise.name %>
                                <br />
                            <% end %>
                        <% end %>
                    </p>
                    <p>
                      <strong>Main Movement</strong>
                      <br />
                      <% workout.exercises.each do |exercise| %>
                        <% if exercise.exercisemethod_id == @maxEffortId || exercise.exercisemethod_id == @dynamicEffortId %>
                          <%= exercise.name %>
                          <br />
                        <% end %>
                      <% end %>
                    </p>
                    <p>
                      <strong>Supplemental Movement</strong>
                      <br />
                      <% workout.exercises.each do |exercise| %>
                        <% if exercise.exercisemethod_id == @supplementalId %>
                          <%= exercise.name %>
                          <br />
                        <% end %>
                      <% end %>
                    </p>
                    <p>
                      <strong>Accessory Movements</strong>
                      <br />
                      <% workout.exercises.each do |exercise| %>
                        <% if exercise.exercisemethod_id == @accessoryId %>
                          <%= exercise.name %>
                          <br />
                        <% end %>
                      <% end %>
                    </p>
                    <p>
                      <strong>Prehab Movements</strong>
                      <br />
                      <% workout.exercises.each do |exercise| %>
                        <% if exercise.exercisemethod_id == @prehabId %>
                          <%= exercise.name %>
                          <br />
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% @cycleWeek = @cycleWeek + 1 %>
        <% end %>
    <% end %>
</p>

<h3>Users Following This Macrocycle</h3>
<p>
	<% if @macrocycle.users.any? %>
		<% @macrocycle.users.each do |user| %>
  			<%= user.email %>
  		<% end %>
  	<% else %>
  		There are no users who used this cycle
  	<% end %>
</p>

<%= button_to "Edit Macrocycle", edit_macrocycle_path(@macrocycle), :class => "btn btn-primary", :method => :get, data: {disable_with: "Loading editor please wait..."} %>
<%= link_to 'Back', macrocycles_path %>