<h3>Welcome to the Power Planner, <%= current_user.email %>!</h3>
<p>
	Today's Date: <%= @d.strftime("%B %d, %Y") %>
</p>
<div class="row text-center">
	<h1>Current Maxes</h1>
</div>
<div class="row text-center">
	<div class="col-md-4">
		<h2>Squat</h2>
		<h2>
			<%= current_user.squatmax %>
		</h2>
	</div>
	<div class="col-md-4">
		<h2>Bench Press</h2>
		<h2>
			<%= current_user.benchmax %>
		</h2>
	</div>
	<div class="col-md-4 text-center">
		<h2>Deadlift</h2>
		<h2>
			<%= current_user.deadliftmax %>
		</h2>
	</div>
</div>

<% if @currentMicrocycle != "" %>
  <div class="panel panel-default">
    <div class="panel-heading">
    	<strong>This Week's Training: Week <%= @cycleWeek %> of <%= @currentMacrocycle.length %></strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <% @currentMicrocycle.workouts.each_with_index do |workout, index| %>
          <div class="col-xs-12 col-md-3">
            <h4>Workout <%= index + 1 %>: <%= workout.workout_type %></h4>
            <br />
            <%= workout.workout_start_date.strftime("%B %d, %Y") %>
            <br />
            <p>
                <strong>Warmup Movements</strong>
                <br />
                <% workout.exercises.each do |exercise| %>
                    <% if exercise.exercisemethod_id == @warmupId %>
                        <%= exercise.name %>
                        <br />
                    <% end %>
                <% end %>
            </p>
            <p>
            	<strong>Main Movement</strong>
            	<br />
            	<% workout.exercises.each do |exercise| %>
            		<% if exercise.exercisemethod_id == @maxEffortId || exercise.exercisemethod_id == @dynamicEffortId %>
            			<%= exercise.name %>
            			<br />
            		<% end %>
            	<% end %>
            </p>
            <p>
            	<strong>Supplemental Movement</strong>
            	<br />
            	<% workout.exercises.each do |exercise| %>
            		<% if exercise.exercisemethod_id == @supplementalId %>
            			<%= exercise.name %>
            			<br />
            		<% end %>
            	<% end %>
            </p>
            <p>
            	<strong>Accessory Movements</strong>
            	<br />
            	<% workout.exercises.each do |exercise| %>
            		<% if exercise.exercisemethod_id == @accessoryId %>
            			<%= exercise.name %>
            			<br />
            		<% end %>
            	<% end %>
            </p>
            <p>
            	<strong>Prehab Movements</strong>
            	<br />
            	<% workout.exercises.each do |exercise| %>
            		<% if exercise.exercisemethod_id == @prehabId %>
            			<%= exercise.name %>
            			<br />
            		<% end %>
            	<% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= button_to "View Your Current Macrocycle", @currentMacrocycle, :class => "btn btn-primary", :method => :get, data: {disable_with: "Loading macrocyle please wait..."} %>
<% else %>
	<p>
		You currently are not following a training plan made in the Power Planner. You can make one using <%= link_to 'Lucy', lucy_start_path, :class=>'btn btn-primary' %> or <%= link_to 'Manual Cycle Builder', new_macrocycle_path, :class=>'btn btn-primary' %>
	</p>
<% end %>