<h1>Deload Options</h1>
<div class="jumbotron">
	<p>
		Hooray! We are on the final step of creating your cycle! All we need to do is decide how you will deload. Deloading describes taking it easy for a week of training and can be done by removing your max effort exercises, dynamic effort exercises, repetition effort exercises, or a combination of all three. Don't worry: you won't lose your strength! Studies have shown that the body gets stronger in three week periods, so to promote longevity and to prepare for the next mesocycle you should take the fourth week of training as a deload week. I can automatically assign deload options for you or you can manually choose them.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Deload Options</h3>
		<p>
			<%= button_to "Auto Assign", lucy_autodeload_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
		</p>
		<p>
			I will automatically choose deload options for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Deload Options</h3>
		<p>
			<a href="#" onClick="$('#deloadArea').show();return false;" class="btn btn-default">Manual</a>
		</p>
		<p>
			I will give you a list of deload options for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<%= form_tag("/lucy/deload_post", method: "post") do %>
	<div  id="deloadArea" style="display:none">
		<div class="row text-center">
			<div class="col-md-12">
				<h3>
					Please select a deload option for each mesocycle.
				</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-12">
				<h2>Deload Options</h2>
				<% $lucyMacrocycle.mesocycles.each_with_index do |mesocycle, i| %>
					<label>
						Mesocycle <%= i + 1%>:
						<br />
						<%= select_tag("mesocycleDeloadOption#{i}", options_for_select([['- Select the deload option for this mesocycle -', 0],['No max effort exercises', 1], ['No dynamic effort exercises', 2], ['No repetition effort exercises', 3]], 0)) %>
					</label>
				<% end %>
			</div> 
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Deload Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>