<h1>Dynamic Effort Exercises</h1>
<div class="jumbotron">
	<p>
		I’ve written down your max effort exercises, now it’s time to choose dynamic effort exercises. The dynamic effort method involves lifting a submaximal weight with maximal velocity: building speed and technique in a movement. Lower body dynamic effort exercises are performed for two rep sets and upper body dynamic effort exercises are performed for three rep sets. A dynamic effort movement will be used for four weeks at a time with a pendulum wave of intensity and a flat-loaded amount of volume. This means that as the weeks go on, the weight used for the exercise will increase but the sets performed will decrease, resulting in an increase in intensity for each successive week but an equal training volume for each week. Don’t worry if I am confusing you: I will take care of all the calculations so you can focus on getting strong! I can automatically assign you dynamic effort exercises based on your timeframe, weaknesses, and equipment or I can show you a list of dynamic effort exercises that correspond to your weaknesses and equipment and you can pick which ones you want to use in your cycle.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Dynamic Effort Exercises</h3>
		<p>
			<%= button_to "Auto Assign", lucy_autodynamiceffort_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
		</p>
		<p>
			I will automatically enter dynamic effort exercises for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Dynamic Effort Exercises</h3>
		<p>
			<a href="#" onClick="$('#exerciseArea').show();return false;" class="btn btn-default">Manual</a>
		</p>
		<p>
			I will give you a list of dynamic effort exercises for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<%= form_tag("/lucy/dynamiceffort_post", method: "post") do %>
	<div  id="exerciseArea" style="display:none">
		<div class="row text-center">
			<div class="col-md-12">
				<h3>
					Please select <%= $lucyMacrocycle.mesocycles.count * 2 %> Dynamic Lower Body Squat Exercises, <%= $lucyMacrocycle.mesocycles.count * 2 %> Dynamic Lower Body Deadlift Exercises, and <%= $lucyMacrocycle.mesocycles.count * 2 %> Dynamic Upper Body Bench Press Exercises
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Dynamic Lower Body Squat Exercises</h2>
				<% @dynamicLowerSquatExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "dynamicLowerSquatExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Dynamic Lower Body Deadlift Exercises</h2>
				<% @dynamicLowerDeadliftExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "dynamicLowerDeadliftExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Dynamic Upper Body Bench Press Exercises</h2>
				<% @dynamicUpperExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "dynamicUpperExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Exercise Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>