<h1>Max Effort Exercises</h1>
<div class="jumbotron">
	<p>
		I’ve taken note of your available equipment. Now, we can get into the fun part of making your cycle: choosing exercises! To begin with, let’s choose max effort exercises for your max effort workouts. The max effort method is lifting a maximal weight with maximal force in an exercise, often trying to break a personal record in that exercise. This method builds maximal strength and coordination in a movement, which is very important for powerlifting. In a max effort workout, you will try to lift the most you can in a movement for one, two, or three reps, depending on the movement and its position in the macrocycle. I can offer you two options: I can automatically assign you max effort exercises based on your timeframe, weaknesses, and equipment or I can show you a list of max effort exercises that correspond to your weaknesses and equipment and you can pick which ones you want to use in your cycle.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Max Effort Exercises</h3>
		<p>
			<%= button_to "Auto Assign", lucy_automaxeffort_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
		</p>
		<p>
			I will automatically enter max effort exercises for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Max Effort Exercises</h3>
		<p>
			<a href="#" onClick="$('#exerciseArea').show();return false;" class="btn btn-default">Manual</a>
		</p>
		<p>
			I will give you a list of max effort exercises for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<%= form_tag("/lucy/maxeffort_post", method: "post") do %>
	<div  id="exerciseArea" style="display:none">
		<div class="row text-center">
			<div class="col-md-12">
				<h3>
					Please select <%= $lucyMacrocycle.mesocycles.count * 4 %> Max Lower Body Exercises and <%= $lucyMacrocycle.mesocycles.count * 4 %> Max Upper Body Exercises
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Max Lower Body Squat Exercises</h2>
				<% @maxLowerSquatExercises.each do |exercise| %>
					<div class="checkbox">
						<label id="<%= exercise.name %>">
						    <%= check_box_tag "maxLowerSquatExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Max Lower Body Deadlift Exercises</h2>
				<% @maxLowerDeadliftExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "maxLowerDeadliftExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Max Upper Body Bench Press Exercises</h2>
				<% @maxUpperExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "maxUpperExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Exercise Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>