<h1>Repetition Effort Exercises</h1>
<div class="jumbotron">
	<p>
		I’ve recorded your dynamic effort exercises! Next, let’s choose exercises that will help build up your weak muscles using the repetition method. The repetition method involves lifting a submaximal weight for a high number of repetitions and is commonly associated with bodybuilding. This method builds the muscles used for the squat, bench press, and deadlift, and over time will directly translate into increased strength. With this method you will use 4-6 lower body exercises and 4-6 upper body exercises for four weeks at a time for each corresponding workout. As with the max effort and dynamic effort methods, I can choose repetition effort exercises for you or you can choose exercises from a list.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Repetition Effort Exercises</h3>
		<p>
			<%= button_to "Auto Assign", lucy_autorepetitioneffort_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
		</p>
		<p>
			I will automatically enter repetition effort exercises for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Repetition Effort Exercises</h3>
		<p>
			<a href="#" onClick="$('#exerciseArea').show();return false;" class="btn btn-default">Manual</a>
		</p>
		<p>
			I will give you a list of repetition effort exercises for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<%= form_tag("/lucy/repetitioneffort_post", method: "post") do %>
	<div  id="exerciseArea" style="display:none">
		<div class="row text-center">
			<div class="col-md-12">
				<h3>
					Please enter <%= $lucyMacrocycle.mesocycles.count %> supplemental exercises for each body part, <%= $lucyMacrocycle.mesocycles.count * 2 %> accessory exercises for each body part, and <%= $lucyMacrocycle.mesocycles.count %> prehab exercises for each body part.
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Repetition Lower Body Supplemental Exercises</h2>
				<% for i in 1..($macrocycleLength / 4) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("lowerSupplementalTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("lowerSupplementalMovement", i, @lowerSupplementalMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
					</p>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Repetition Lower Body Accessory Exercises</h2>
				<% for i in 1..($macrocycleLength / 2) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("lowerAccessoryTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("lowerAccessoryMovement", i, @lowerAccessoryMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
					</p>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Repetition Lower Body Prehab Exercises</h2>
				<% for i in 1..($macrocycleLength / 4) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("lowerPrehabTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("lowerPrehabMovement", i, @lowerPrehabMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
					</p>
				<% end %>
			</div> 
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Repetition Upper Body Supplemental Exercises</h2>
				<% for i in 1..($macrocycleLength / 4) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("upperSupplementalTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("upperSupplementalMovement", i, @upperSupplementalMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
						<br />
						<%= collection_select("upperSupplementalBar", i, @bars, :id, :name, {:include_blank => '- Select a Bar -'}) %>
					</p>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Repetition Upper Body Accessory Exercises</h2>
				<% for i in 1..($macrocycleLength / 2) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("upperAccessoryTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("upperAccessoryMovement", i, @upperAccessoryMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
						<br />
						<%= collection_select("upperAccessoryBar", i, @bars, :id, :name, {:include_blank => '- Select a Bar -'}) %>
					</p>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Repetition Upper Body Prehab Exercises</h2>
				<% for i in 1..($macrocycleLength / 4) %>
					<p class="well">
						<strong>Exercise <%= i %>:</strong>
						<br />
						<%= collection_select("upperPrehabTempo", i, @tempos, :id, :name, {:include_blank => '- Select a Tempo -'}) %>
						<br />
						<%= collection_select("upperPrehabMovement", i, @upperPrehabMovements, :id, :name, {:include_blank => '- Select a Movement -'}) %>
						<br />
						<%= collection_select("upperPrehabBar", i, @bars, :id, :name, {:include_blank => '- Select a Bar -'}) %>
					</p>
				<% end %>
			</div>  
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Exercise Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>