<h1>Warmup Exercises</h1>
<div class="jumbotron">
	<p>
		Congratulations! We’ve made the bulk of the training cycle! All that’s left is choosing your warmup exercises and deload options. It’s extremely important to properly warmup before your workouts in order to prevent injury and promote longevity. Warmups for each workout will consist of performing a circuit of three small exercises for 25 reps per exercise. The exercises will correlate to the portion of the body being trained and will activate muscle groups being used that day. Once again, I can choose warmup exercises for you or you can choose exercises from a list.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Warmup Exercises</h3>
		<p>
			I will automatically enter repetition effort exercises for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Warmup Exercises</h3>
		<p>
			I will give you a list of warmup exercises for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<div class="row text-center">
	<div class="col-md-6">
		<%= button_to "Auto Assign", lucy_autowarmup_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
	</div>
	<div class="col-md-6">
		<a href="#" onClick="$('#exerciseArea').show();return false;" class="btn btn-default">Manual</a>
	</div>
</div>
<%= form_tag("/lucy/warmup_post", method: "post") do %>
	<div  id="exerciseArea" style="display:none">
		<div class="row text-center">
			<div class="col-md-12">
				<h3>
					Please select <%= $lucyMacrocycle.mesocycles.count * 3 %> warmup exercises for each body part.
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Lower Body Warmup Exercises</h2>
				<% @lowerWarmupExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "lowerWarmupExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-6">
				<h2>Upper Body Warmup Exercises</h2>
				<% @upperWarmupExercises.each do |exercise| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "upperWarmupExercises[]", exercise.id %>
						    <%= exercise.name %>
						</label>
				    </div>
				<% end %>
			</div> 
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Exercise Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>