<h1>Weaknesses</h1>
<div class="jumbotron">
	<p>
		The heart of a conjugate-style training plan is turning weaknesses into strengths. As the old saying goes: “you’re only as strong as your weakest link,” so you need to get those weak muscles nice and strong!
	</p>
</div>
<div class="row text-center">
	<div class="col-md-6">
		<h2>Automatically Assign Weaknesses</h2>
		<p>
			<%= button_to "Auto Assign", lucy_autoweaknesses_path, :class => "btn btn-primary", :method => :get, data: {disable_with: "Saving options please wait..."} %>
		</p>
		<p>
			If you would like for me to automatically assign weak muscles to you based on what is most common, please click the button below (recommended).
		</p>
	</div>
	<div class="col-md-6">
		<h2>Manually Select Weaknesses</h2>
		<p>
			<a href="#" onClick="$('#weaknessArea').show();return false;" class="btn btn-default">Manual</a>
		</p>
		<p>
			If you would like to manually select your weak muscles, please click the button below.
		</p>
	</div>
</div>
<%= form_tag("/lucy/weaknesses_post", method: "post") do %>
	<div  id="weaknessArea" style="display:none">
		<div class="row">
			<div class="col-md-4">
				<h2>Selected Weaknesses:</h2>
				<h3>Lower Body</h3>
				<div id="lowerBodyArea">

				</div>
				<h3>Upper Body</h3>
				<div id="upperBodyArea">

				</div>
			</div>
			<div class="col-md-4">
				<h2>Lower Body Muscles</h2>
				<% @lowerweaknesses.each do |weakness| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "lowerweaknesses[]", weakness.id %>
						    <%= weakness.name %>
						</label>
				    </div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<h2>Upper Body Muscles</h2>
				<% @upperweaknesses.each do |weakness| %>
					<div class="checkbox">
						<label>
						    <%= check_box_tag "upperweaknesses[]", weakness.id %>
						    <%= weakness.name %>
						</label>
				    </div>
				<% end %>
			</div>
		</div>
		<div class="row  text-center">
			<%= button_tag "Save Weakness Options", class: "btn btn-primary", data: {disable_with: "Saving options please wait..."} %>
		</div>
	</div>
<% end %>