<%= form_for @exercise do |f| %>
 
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@exercise.errors.count, "error") %> prohibited
        this exercise from being saved:
      </h2>
      <ul>
        <% @exercise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <fieldset>
  <legend>Exercise Details</legend>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <h3>Variations</h3>

  <% @variation_types.each_with_index do |variation_type, i| %>
    <p>
      <strong><%= variation_type.name %>:</strong>
      <br />
      <% if variation_type.name == "Equipment" or variation_type.name == "Tension" %>
        <%= f.collection_check_boxes :variation_ids, variation_type.variations, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %> 
      <% else %>
        <%= f.collection_select(:variation_id, variation_type.variations, :id, :name) %>
      <% end %>
    </p>
  <% end %>

 </fieldset>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>