<h1>Exercises</h1>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @exercises %>
  </div>
  <%= will_paginate(@exercises, :container => false) %>
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Created On</th>
    <th>Actions</th>
  </tr>
  <% @exercises.each do |exercise| %>
    <tr>
      <td>
      	<%= exercise.name %>
      </td>
      <td>
      	<%= exercise.created_at %>
      </td>
      <td>
        <%= link_to 'Details', exercise_path(exercise), :class=>'btn btn-default' %>
      </td>
    </tr>
  <% end %>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @exercises %>
  </div>
  <%= will_paginate(@exercises, :container => false) %>
</div>